.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
    z-index: 5;
}

.modal-container > div {
    z-index: 6;
}

.modal-body {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}
