.page-main {
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page-main__button {
    padding: 10px 20px;

    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    color: #ffffff;
    background-color: #6cbfff;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    transition: background-color 0.3s;
}

.page-main__button:hover {
    background-color: #ffc4be;
}
