.page-table__input-search {
    padding: 5px 10px;
    margin: 15px;
    outline: none;
}

.page-table__link {
    margin-left: 15px;

    text-underline-position: under;
    color: #6cbfff;
}

.page-table__link:hover {
    color: #ffc4be;
}