.sort-table {
    width: 100%;
    margin: 15px 0;
    border-collapse: collapse;
}

.sort-table__thead {
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid #dae3ea;
    cursor: pointer;
}

.sort-table__thead-icon {
    float: right;
}

.sort-table__td {
    position: relative;
    padding: 15px;
}

.sort-table__td-selected {
    background-color: #9fd5ff;
}

.sort-table__tr:nth-child(2n) {
    background-color: #f6f6f9;
}

.sort-table__tr + .sort-table__tr {
    border-top: 1px solid #dae3ea;
}